<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Guess Game</title>
  </head>
  <body style="background-color: white;">

    <div class="container w-30 my-3">
    <div class="container btn btn-primary">
        <h1>Country-Capital Guess Game</h1>
    </div>
    <div class="container w-40 my-3">
      <div class="container btn btn-primary">
     <h1>Hi Sam Lets Check Your Knowledge about Country and its Capital</h1>
    </div>
    <br><br><br>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Open this to select Country</option>
        <option value="1">India</option>
        <option value="2">Japan</option>
        <option value="3">South Korea</option>
        <option value="4">Cambodia</option>
        <option value="5">Mynmaar</option>
        <option value="6">Sri Lanka</option>
        <option value="7">Nepal</option>
        <option value="2">Bhutan</option>
        <option value="8">Greece</option>
        <option value="9">China</option>
        <option value="10">United States Of America</option>
      </select>
            <br>
            <br>
            <input type="text" class="form-control" name="" id="exampleFormControlInput1" placeholder="Enter Capital city"><br>
            <input type="submit" name="" class="btn btn-success" value="Search">
    </div>
    </div>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>
</html>